body{
    background-image: url(../static/images/back2.jpg);
    margin-bottom: 100px;
}
#conteneur{
display: flex;
}

#chart-container1 {
    width: 45%;
    border: 4px outset #ccc;/* Ajout de la bordure */
    padding: 10px; /* Espacement intérieur */
    height: 80%;
    margin-top: 50px;
    
    
    
}
canvas {
    max-width: 100%; /* Assurez-vous que le graphique ne dépasse pas de son conteneur */
}
#chart-container2 {
        width: 45%; /* Ajustez la largeur selon vos besoins */
        margin: 0 auto;
        border: 4px outset #ccc; /* Ajout de la bordure */
        padding: 10px; /* Ajout de marge intérieure */
        margin-top: 50px;
    }

    .popup {
        display: none; /* Par défaut, le pop-up est caché */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border: 1px solid #000000;
        padding: 20px;
        z-index: 1000;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .table-container {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
       margin-top: 30px;
        margin-bottom: 170px;
    }
    .table-responsive {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #dee2e6;
    }
    th {
        background-color: #f2f2f2;
    }
    .sql-text {
        display: none;
    }
    .sql-id:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #007bff;
    }
    