<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervision</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ajoutez vos styles personnalisés ici */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-4">{{ message }}</h1>

        <h2 class="mt-4">Tables de l'utilisateur 'OUSMANE'</h2>

        <div class="row">
            <div class="col">
                <h3>Sessions actives</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Machine</th>
                            <th scope="col">Programme</th>
                            <th scope="col">Heure de connexion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                            <tr>
                                <td>{{ session[0] }}</td>
                                <td>{{ session[1] }}</td>
                                <td>{{ session[2] }}</td>
                                <td>{{ session[3] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Requêtes SQL de l'utilisateur 'OUSMANE'</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Requête SQL</th>
                            <th scope="col">Dernière activité</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sql_query in sql_queries %}
                            <tr>
                                <td>{{ sql_query[0] }}</td>
                                <td>{{ sql_query[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optionnel si vous n'utilisez pas les fonctionnalités JavaScript de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
